
.icon-play-circled:before { content: '\e800'; } /* '' */
.icon-play-circle2:before { content: '\e801'; } /* '' */
.icon-star-empty:before { content: '\e802'; } /* '' */
.icon-star-empty-1:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */