<div class="panel">
    <ul id="menu" class="panel__menu">
        <hr/>
        <li id="signIn"><a href="#login" ng-click="LoginCtrl.changeTab('signIn', $event)">Login</a></li>
        <li id="signUp"><a href="#login" ng-click="LoginCtrl.changeTab('signUp', $event)">Sign up</a></li>
    </ul>
    <div class="panel__wrap">
        <form id="signInBox" class="panel__box active">
            <label>
                <input placeholder="Email"
                       ng-model="LoginCtrl.singIn.email"
                       type="email"
                       ng-required/>
            </label>
            <label>
                <input placeholder="Password"
                       ng-model="LoginCtrl.singIn.password"
                       type="password"
                       ng-required
                       ng-minlength="8"/>
            </label>
            <input ng-click="LoginCtrl.signIn()" type="submit"/>
        </form>
        <form id="signUpBox" class="panel__box">
            <label>
                <input placeholder="Email"
                       ng-model="LoginCtrl.singUp.email"
                       type="email"
                       ng-required/>
            </label>
            <label>
                <input placeholder="Password"
                       ng-model="LoginCtrl.singUp.password"
                       type="password"
                       ng-required
                       ng-minlength="8"/>
            </label>
            <label>
                <input placeholder="Confirm password"
                       ng-model="LoginCtrl.singUp.confirmPassword"
                       type="password"
                       ng-required
                       ng-minlength="8"/>
            </label>
            <input ng-click="LoginCtrl.signUp()" type="submit"/>
        </form>
    </div>
</div>