<!doctype html>
<html lang="en" ng-app="cinemaPortal">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Cinema Portal</title>

        <!--Contrib css-->
        <link rel="stylesheet" href="assets/js/vendor/angular/angular-csp.css" type="text/css">
        <link rel="stylesheet" href="assets/js/vendor/angular-material/angular-material.css" type="text/css">
        <link rel="stylesheet" href="assets/js/vendor/slick-carousel/slick/slick.css" type="text/css"/>
        <link rel="stylesheet" href="assets/js/vendor/slick-carousel/slick/slick-theme.css" type="text/css"/>
        <link rel="stylesheet" href="assets/js/vendor/load-awesome/css/line-scale-pulse-out.css" type="text/css" />

        <!--Custom css-->
        <link rel="stylesheet" href="assets/css/main.css" type="text/css"/>

        <!--Contrib ibraries-->
        <script type="text/javascript" src="assets/js/vendor/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="assets/js/vendor/jquery-ui/jquery-ui.js"></script>
        <script type="text/javascript" src="assets/js/vendor/angular/angular.js"></script>
        <script type="text/javascript" src="assets/js/vendor/angular-animate/angular-animate.js"></script>
        <script type="text/javascript" src="assets/js/vendor/angular-aria/angular-aria.js"></script>
        <script type="text/javascript" src="assets/js/vendor/angular-material/angular-material.js"></script>
        <script type="text/javascript" src="assets/js/vendor/angular-messages/angular-messages.js"></script>
        <!--<script type="text/javascript" src="assets/js/vendor/angular-swipe/dist/angular-swipe.js"></script>-->
        <script type="text/javascript" src="assets/js/vendor/angular-sanitize/angular-sanitize.js"></script>
        <script type="text/javascript" src="assets/js/vendor/angular-route/angular-route.js"></script>
        <!--<script type="text/javascript" src="assets/js/vendor/angular-touch/angular-touch.js"></script>-->
        <script type="text/javascript" src="assets/js/vendor/slick-carousel/slick/slick.js"></script>
        <script type="text/javascript" src="assets/js/vendor/angular-slick/dist/slick.js"></script>
        <script type="text/javascript" src="assets/js/vendor/angular-preload-image/angular-preload-image.min.js"></script>
        <script type="text/javascript" src="assets/js/vendor/angulartics/src/angulartics.js"></script>
        <script type="text/javascript" src="assets/js/vendor/angulartics/src/angulartics-ga.js"></script>
        <script type="text/javascript" src="assets/js/vendor/videogular/videogular.js"></script>
        <script type="text/javascript" src="assets/js/vendor/videogular-controls/vg-controls.js"></script>
        <script type="text/javascript" src="assets/js/vendor/videogular-overlay-play/vg-overlay-play.js"></script>
        <script type="text/javascript" src="assets/js/vendor/videogular-poster/vg-poster.js"></script>
        <script type="text/javascript" src="assets/js/vendor/videogular-buffering/vg-buffering.js"></script>
        <script type="text/javascript" src="assets/js/vendor/videogular-angulartics/vg-analytics.js"></script>

        <script type="text/javascript" src="assets/js/custom/grid/grid.module.js"></script>
        <script type="text/javascript" src="assets/js/custom/grid/grid.grid-resource.service.js"></script>
        <script type="text/javascript" src="assets/js/custom/grid/grid.grid-slider.controller.js"></script>
        <script type="text/javascript" src="assets/js/custom/grid/grid.grid.controller.js"></script>
        <script type="text/javascript" src="assets/js/custom/landing/landing.module.js"></script>
        <script type="text/javascript" src="assets/js/custom/landing/landing.controller.js"></script>
        <script type="text/javascript" src="assets/js/custom/login/login-form.module.js"></script>
        <script type="text/javascript" src="assets/js/custom/login/login-form.controller.js"></script>
        <script type="text/javascript" src="assets/js/custom/slider/slider.module.js"></script>
        <script type="text/javascript" src="assets/js/custom/slider/slider.controller.js"></script>
        <script type="text/javascript" src="assets/js/custom/video-stream/video-stream.module.js"></script>
        <script type="text/javascript" src="assets/js/custom/video-stream/video-stream.service.js"></script>
        <script type="text/javascript" src="assets/js/custom/video-stream/video-stream.controller.js"></script>
        <script type="text/javascript" src="assets/js/custom/app.module.js"></script>
        <script type="text/javascript" src="assets/js/custom/app.route.js"></script>
        <script type="text/javascript" src="assets/js/custom/app.controller.js"></script>

        <!--<script type="text/javascript" src="assets/js/vendor.min.js"></script>-->
        <!--<script type="text/javascript" src="assets/js/app.min.js"></script>-->

        <!-- Google Analitycs-->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-77221614-1', 'auto');
        </script>

    </head>
    <body>
        <div class="main-wrapper" ng-controller="MainController as MCtrl">
            <show-loader></show-loader>
            <div id="main-menu sticky">
                <a href="/">Main</a> |
                <a ng-if="!isLogged" href="#/login">Login</a>
                <a ng-if="isLogged" href="#/logout">Logout</a> |
                <a href="#/browse">Browse</a> |
            </div>

            <div class="view-animate-container">
                <div ng-view class="view-animate"></div>
            </div>
        </div>
    </body>
</html>
