<div class="container" top-slider></div>

<div class="main-content" ng-controller="GridController as GridCtrl">
    <div class="" ng-repeat="genre in GridCtrl.genres">
        <div class="carousel-title">
            {{ ::genre.name }}
        </div>
        <div ng-init="GridSliderCtrl.init()"
             ng-controller="GridSliderController as GridSliderCtrl">
            <slick responsive="::GridSliderCtrl.responsive"
                   class="grid-carousel">
                <!--<div class="grid-carousel-image" ng-repeat="icon in ::GridSliderCtrl.icons track by icon.id"-->
                     <!--ng-click="GridSliderCtrl.setActiveElement(icon.id, $event)"-->
                     <!--ng-class="GridSliderCtrl.getNeedClassElement(icon.id)">-->
                    <!--<img height="113" width="225" ng-ng-src="http://188.120.255.201/media/preview/{{ ::icon.image_id }}"/>-->
                <!--</div>-->
                <div class="grid-carousel-image">
                    <img ng-src="/assets/images/placeholders/vik.jpg">
                </div>
                <div class="grid-carousel-image">
                    <img ng-src="/assets/images/placeholders/tt.jpg">
                </div>
                <div class="grid-carousel-image">
                    <img ng-src="/assets/images/placeholders/dd.jpg">
                </div>
                <div class="grid-carousel-image">
                    <img ng-src="/assets/images/placeholders/100.jpg">
                </div>
                <div class="grid-carousel-image">
                    <img ng-src="/assets/images/placeholders/wd.jpg">
                </div>
                <div class="grid-carousel-image">
                    <img ng-src="/assets/images/placeholders/ftd.jpg">
                </div>
                <div class="grid-carousel-image">
                    <img ng-src="/assets/images/placeholders/wd.jpg">
                </div>
                <div class="grid-carousel-image">
                    <img ng-src="/assets/images/placeholders/ftd.jpg">
                </div>
                <div class="grid-carousel-image">
                    <img ng-src="/assets/images/placeholders/dh.jpg">
                </div>
                <div class="grid-carousel-image">
                    <img ng-src="/assets/images/placeholders/vik.jpg">
                </div>
                <div class="grid-carousel-image">
                    <img ng-src="/assets/images/placeholders/tt.jpg">
                </div>
                <div class="grid-carousel-image">
                    <img ng-src="/assets/images/placeholders/vik.jpg">
                </div>
                <div class="grid-carousel-image">
                    <img ng-src="/assets/images/placeholders/tt.jpg">
                </div>
                <div class="grid-carousel-image">
                    <img ng-src="/assets/images/placeholders/dd.jpg">
                </div>
                <div class="grid-carousel-image">
                    <img ng-src="/assets/images/placeholders/100.jpg">
                </div>
                <div class="grid-carousel-image">
                    <img ng-src="/assets/images/placeholders/wd.jpg">
                </div>
                <div class="grid-carousel-image">
                    <img ng-src="/assets/images/placeholders/ftd.jpg">
                </div>
            </slick>
        </div>
    </div>
</div>
